In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import metrics
from sklearn import neighbors
import warnings
warnings.simplefilter("ignore")

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
train_data =pd.read_csv('train1.csv')
train_data.head()

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (Class label)
0,Male,17,7,4,7,3,2,extraverted
1,Male,19,4,5,4,6,6,serious
2,Female,18,7,6,4,5,5,dependable
3,Female,22,5,6,7,4,3,extraverted
4,Female,19,7,4,6,5,4,lively

In [4]:
train_data.shape

(709, 8)

In [5]:
train_data.Gender.value_counts()

Female    380
Male      328
5           1
Name: Gender, dtype: int64

In [6]:
i=train_data[train_data.Gender=='5'].index
i
train_data.drop(i,inplace=True)

In [7]:
train_data.Gender.value_counts()

Female    380
Male      328
Name: Gender, dtype: int64

In [8]:
train_data["Personality (Class label)"].value_counts()

serious        160
extraverted    150
dependable     138
lively         134
responsible    126
Name: Personality (Class label), dtype: int64

In [9]:
import seaborn as sns
sns.set_style("darkgrid")

sns.distplot(train_data["Age"])

In [10]:
train_data.Gender.replace(["Female","Male"],[0,1],inplace=True)

In [11]:
train_data["Personality (Class label)"].unique()

array(['extraverted', 'serious', 'dependable', 'lively', 'responsible'],
      dtype=object)

In [12]:
train_data["Personality (Class label)"].replace(['extraverted', 'serious', 'dependable', 'lively', 'responsible'],[0,1,2,3,4],inplace=True)

In [13]:
train_data.head()

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (Class label)
0,1,17,7,4,7,3,2,0
1,1,19,4,5,4,6,6,1
2,0,18,7,6,4,5,5,2
3,0,22,5,6,7,4,3,0
4,0,19,7,4,6,5,4,3

In [14]:
train_data.isnull().sum()

Gender                       0
Age                          0
openness                     0
neuroticism                  0
conscientiousness            0
agreeableness                0
extraversion                 0
Personality (Class label)    0
dtype: int64

In [15]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 708 entries, 0 to 708
Data columns (total 8 columns):
Gender                       708 non-null int64
Age                          708 non-null int64
openness                     708 non-null int64
neuroticism                  708 non-null int64
conscientiousness            708 non-null int64
agreeableness                708 non-null int64
extraversion                 708 non-null int64
Personality (Class label)    708 non-null int64
dtypes: int64(8)
memory usage: 49.8 KB

In [16]:
X=train_data.iloc[:,1:]
y=train_data.iloc[:,-1]

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,random_state=10)

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [19]:
lg=LogisticRegression(random_state=15,penalty='l2')
lf=lg.fit(X_train,y_train)

In [20]:
sv=SVC()
sw=sv.fit(X_train,y_train)

In [21]:
forest = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
fo = forest.fit(X_train,y_train)

In [22]:
adaboost = AdaBoostClassifier()
ad=adaboost.fit(X_train,y_train)

In [23]:
knn = KNeighborsClassifier()
gnn =knn.fit(X_train,y_train)

In [24]:
gnb = GaussianNB() 
hnb = gnb.fit(X_train, y_train)

In [25]:
clf3=DecisionTreeClassifier()
clf = clf3.fit(X_train,y_train)

In [29]:
clf5=LinearDiscriminantAnalysis()
cl = clf5.fit(X_train,y_train)

In [30]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score  #for classification report

In [31]:
#Train Accuracy:
a=accuracy_score(y_train, lf.predict(X_train))

print("Accuracy of model is",a*100)

Accuracy of model is 88.08080808080808

In [32]:
b=accuracy_score(y_train, sw.predict(X_train))

print("Accuracy of model is",b*100)

Accuracy of model is 99.79797979797979

In [33]:
c=accuracy_score(y_train, fo.predict(X_train))

print("Accuracy of model is",c*100)

Accuracy of model is 100.0

In [34]:
d=accuracy_score(y_train, ad.predict(X_train))

print("Accuracy of model is",d*100)

Accuracy of model is 81.81818181818183

In [35]:
e=accuracy_score(y_train, gnn.predict(X_train))

print("Accuracy of model is",e*100)

Accuracy of model is 77.37373737373737

In [36]:
f=accuracy_score(y_train, hnb.predict(X_train))

print("Accuracy of model is",f*100)

Accuracy of model is 100.0

In [37]:
score=accuracy_score(y_train, clf.predict(X_train))

print("Accuracy of model is",score*100)

Accuracy of model is 100.0

In [39]:
score1=accuracy_score(y_train, cl.predict(X_train))

print("Accuracy of model is",score1*100)

Accuracy of model is 23.434343434343436

In [28]:
CF = confusion_matrix(y_train,lg.predict(X_train) ) 
  
print('Matrix:')
print(CF)

Matrix:
[[ 99   0   0   0   0]
 [  0 104   5   0   0]
 [  0  22  74   4   0]
 [  0   0  15  64  11]
 [  0   0   0   2  95]]

In [29]:
DF = confusion_matrix(y_train,sw.predict(X_train) ) 
  
print('Matrix:')
print(DF)

Matrix:
[[ 99   0   0   0   0]
 [  0 109   0   0   0]
 [  0   0 100   0   0]
 [  0   0   1  89   0]
 [  0   0   0   0  97]]

In [30]:
HF = confusion_matrix(y_train,fo.predict(X_train) ) 
  
print('Matrix:')
print(HF)

Matrix:
[[ 99   0   0   0   0]
 [  0 109   0   0   0]
 [  0   0 100   0   0]
 [  0   0   0  90   0]
 [  0   0   0   0  97]]

In [31]:
EF = confusion_matrix(y_train,ad.predict(X_train) ) 
  
print('Matrix:')
print(EF)

Matrix:
[[ 99   0   0   0   0]
 [  0 109   0   0   0]
 [  0   0 100   0   0]
 [  0   0  90   0   0]
 [  0   0   0   0  97]]

In [32]:
GF = confusion_matrix(y_train,gnn.predict(X_train) ) 
  
print('Matrix:')
print(GF)

Matrix:
[[78 20  1  0  0]
 [16 87  5  1  0]
 [ 2 22 70  6  0]
 [ 0  2 14 68  6]
 [ 0  0  3 14 80]]

In [33]:
#test_data

In [34]:
test_data =pd.read_csv('test1.csv')
test_data.head()

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (class label)
0,Female,20,7,9,9,5,5,dependable
1,Male,17,5,4,5,2,4,serious
2,Female,25,5,5,7,2,4,serious
3,Female,18,6,2,7,4,7,serious
4,Female,19,2,4,7,1,3,responsible

In [35]:
test_data.Gender.value_counts()

Male      159
Female    156
Name: Gender, dtype: int64

In [36]:
test_data.Gender.replace(["Female","Male"],[0,1],inplace=True)

In [37]:
test_data["Personality (class label)"].replace(['extraverted', 'serious', 'dependable', 'lively', 'responsible'],[0,1,2,3,4],inplace=True)

In [38]:
test_data.head()

,Gender,Age,openness,neuroticism,conscientiousness,agreeableness,extraversion,Personality (class label)
0,0,20,7,9,9,5,5,2
1,1,17,5,4,5,2,4,1
2,0,25,5,5,7,2,4,1
3,0,18,6,2,7,4,7,1
4,0,19,2,4,7,1,3,4

In [39]:
X=test_data.iloc[:,1:]
y=test_data.iloc[:,-1]

In [40]:
y_pred=lf.predict(X)

In [41]:
ys_pred=sw.predict(X)

In [42]:
yf_pred=fo.predict(X)

In [43]:
ya_pred=ad.predict(X)

In [44]:
yg_pred=gnn.predict(X)

In [45]:
DF = pd.DataFrame(y_pred,columns=['Predicted Personality'])
DF.index=DF.index+1

In [46]:
EF = pd.DataFrame(ys_pred,columns=['Predicted Personality'])
EF.index=EF.index+1

In [47]:
GF = pd.DataFrame(ya_pred,columns=['Predicted Personality'])
GF.index=GF.index+1

In [48]:
HF = pd.DataFrame(yg_pred,columns=['Predicted Personality'])
HF.index=HF.index+1

In [49]:
IF = pd.DataFrame(yf_pred,columns=['Predicted Personality'])
IF.index=IF.index+1

In [50]:
DF.index.names = ['Person No']

In [51]:
EF.index.names = ['Person No']

In [52]:
GF.index.names = ['Person No']

In [53]:
HF.index.names = ['Person No']

In [54]:
IF.index.names = ['Person No']

In [55]:
df1=pd.DataFrame(test_data)

In [56]:
ef1=pd.DataFrame(test_data)

In [57]:
gf1=pd.DataFrame(test_data)

In [58]:
hf1=pd.DataFrame(test_data)

In [59]:
if1=pd.DataFrame(test_data)

In [60]:
DF.to_csv("output1.csv")

In [61]:
EF.to_csv("output2.csv")

In [62]:
GF.to_csv("output3.csv")

In [63]:
HF.to_csv("output4.csv")

In [64]:
IF.to_csv("output5.csv")